doctype html
html(lang='en')
  include common/head.pug
  +head("Online-Shop")
  body
    header
      include common/navbar.pug
      +navbar(user)
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1.mb-3 Online Shop
            p.lead Where u can buy everything.
            p.lead.mb-4 Its Starting today.
            
    include common/footer.pug
    +footer()